body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:146px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(215, 215, 215, 1) 100%, rgba(215, 215, 215, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(215, 215, 215, 1) 100%, rgba(215, 215, 215, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(215, 215, 215, 1) 100%, rgba(215, 215, 215, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:0px;
  top:1022px;
  width:1300px;
  height:146px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:65px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 102, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6990 {
  position:absolute;
  left:408px;
  top:1119px;
  width:486px;
  height:35px;
  color:#515151;
}
#u6991 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  word-wrap:break-word;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6993 {
  position:absolute;
  left:502px;
  top:1091px;
  width:100px;
  height:25px;
  color:#515151;
}
#u6993_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6993.mouseOver {
}
#u6993_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6993.mouseDown {
}
#u6994 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6995 {
  position:absolute;
  left:601px;
  top:1091px;
  width:100px;
  height:25px;
  color:#515151;
}
#u6995_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6995.mouseOver {
}
#u6995_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6995.mouseDown {
}
#u6996 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6997 {
  position:absolute;
  left:700px;
  top:1091px;
  width:100px;
  height:25px;
  color:#515151;
}
#u6997_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6997.mouseOver {
}
#u6997_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u6997.mouseDown {
}
#u6998 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u6999 {
  position:absolute;
  left:601px;
  top:1096px;
  width:1px;
  height:15px;
  color:#515151;
}
#u7000 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u7001 {
  position:absolute;
  left:700px;
  top:1096px;
  width:1px;
  height:15px;
  color:#515151;
}
#u7002 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:657px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(148, 148, 148, 0.349019607843137);
}
#u7003 {
  position:absolute;
  left:437px;
  top:250px;
  width:427px;
  height:657px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:320px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:437px;
  height:615px;
}
#u7005 {
  position:absolute;
  left:437px;
  top:302px;
  width:427px;
  height:605px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:294px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#0066FF;
}
#u7008 {
  position:absolute;
  left:617px;
  top:265px;
  width:73px;
  height:24px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#0066FF;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u7011 {
  position:absolute;
  left:723px;
  top:390px;
  width:92px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u7013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7017 {
  position:absolute;
  left:469px;
  top:351px;
  width:350px;
  height:39px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7019 {
  position:absolute;
  left:472px;
  top:357px;
  width:30px;
  height:30px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021 {
  position:absolute;
  left:511px;
  top:358px;
  width:294px;
  height:25px;
}
#u7021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:25px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u7023 {
  position:absolute;
  left:689px;
  top:455px;
  width:131px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u7025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7029 {
  position:absolute;
  left:469px;
  top:416px;
  width:350px;
  height:39px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7031 {
  position:absolute;
  left:476px;
  top:424px;
  width:25px;
  height:25px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033 {
  position:absolute;
  left:511px;
  top:423px;
  width:294px;
  height:25px;
}
#u7033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:25px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7034 {
  position:fixed;
  left:50%;
  margin-left:-155.5px;
  top:50%;
  margin-top:-96.5px;
  visibility:hidden;
}
#u7034_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:184px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:0px;
  top:9px;
  width:311px;
  height:184px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:84px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7037 {
  position:absolute;
  left:5px;
  top:16px;
  width:300px;
  height:170px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7039 {
  position:absolute;
  left:140px;
  top:31px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u7041 {
  position:absolute;
  left:30px;
  top:61px;
  width:250px;
  height:1px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7043 {
  position:absolute;
  left:30px;
  top:80px;
  width:225px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7045 {
  position:absolute;
  left:100px;
  top:137px;
  width:110px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7047 {
  position:absolute;
  left:282px;
  top:13px;
  width:25px;
  height:25px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7049 {
  position:absolute;
  left:469px;
  top:482px;
  width:351px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:127px;
}
#u7051 {
  position:absolute;
  left:469px;
  top:512px;
  width:165px;
  height:127px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:56px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:127px;
}
#u7053 {
  position:absolute;
  left:655px;
  top:512px;
  width:165px;
  height:127px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:56px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:127px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:469px;
  top:512px;
  width:165px;
  height:127px;
}
#u7056 {
  position:absolute;
  left:2px;
  top:56px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7057 {
  position:absolute;
  left:528px;
  top:552px;
  width:48px;
  height:48px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:127px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7059 {
  position:absolute;
  left:655px;
  top:512px;
  width:165px;
  height:127px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:56px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7061 {
  position:absolute;
  left:714px;
  top:552px;
  width:48px;
  height:48px;
}
#u7062 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7063 {
  position:absolute;
  left:516px;
  top:642px;
  width:71px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7065 {
  position:absolute;
  left:709px;
  top:642px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7067 {
  position:fixed;
  left:50%;
  margin-left:-360px;
  top:50%;
  margin-top:-240px;
  visibility:hidden;
}
#u7067_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7067_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:480px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:480px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:232px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7067_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:677px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:677px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:330px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:651px;
}
#u7073 {
  position:absolute;
  left:12px;
  top:13px;
  width:490px;
  height:651px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:318px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7075 {
  position:absolute;
  left:453px;
  top:22px;
  width:32px;
  height:32px;
}
#u7076 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7067_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:370px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:370px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:177px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:342px;
}
#u7080 {
  position:absolute;
  left:12px;
  top:13px;
  width:531px;
  height:342px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:163px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7082 {
  position:absolute;
  left:503px;
  top:22px;
  width:32px;
  height:32px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7084 {
  position:absolute;
  left:602px;
  top:608px;
  width:29px;
  height:29px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u7086 {
  position:absolute;
  left:785px;
  top:607px;
  width:29px;
  height:29px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u7088 {
  position:absolute;
  left:719px;
  top:672px;
  width:92px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u7090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u7090 {
  position:absolute;
  left:471px;
  top:672px;
  width:110px;
  height:16px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u7091 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u7092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7092 {
  position:absolute;
  left:487px;
  top:821px;
  width:328px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u7093 {
  position:absolute;
  left:2px;
  top:9px;
  width:324px;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u7094 {
  position:absolute;
  left:47px;
  top:1727px;
  width:81px;
  height:19px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u7095 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u7096 {
  position:absolute;
  left:47px;
  top:1753px;
  width:957px;
  height:281px;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u7099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:68px;
}
#u7099 {
  position:absolute;
  left:180px;
  top:0px;
  width:233px;
  height:68px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7100 {
  position:absolute;
  left:2px;
  top:23px;
  width:229px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:68px;
}
#u7101 {
  position:absolute;
  left:413px;
  top:0px;
  width:342px;
  height:68px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:23px;
  width:338px;
  word-wrap:break-word;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:68px;
}
#u7103 {
  position:absolute;
  left:755px;
  top:0px;
  width:197px;
  height:68px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:23px;
  width:193px;
  word-wrap:break-word;
}
#u7105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:208px;
}
#u7105 {
  position:absolute;
  left:0px;
  top:68px;
  width:180px;
  height:208px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:93px;
  width:176px;
  word-wrap:break-word;
}
#u7107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:208px;
}
#u7107 {
  position:absolute;
  left:180px;
  top:68px;
  width:233px;
  height:208px;
  font-size:14px;
}
#u7108 {
  position:absolute;
  left:2px;
  top:94px;
  width:229px;
  word-wrap:break-word;
}
#u7109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:208px;
}
#u7109 {
  position:absolute;
  left:413px;
  top:68px;
  width:342px;
  height:208px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:96px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:208px;
}
#u7111 {
  position:absolute;
  left:755px;
  top:68px;
  width:197px;
  height:208px;
  color:#1E1E1E;
}
#u7112 {
  position:absolute;
  left:2px;
  top:86px;
  width:193px;
  word-wrap:break-word;
}
#u7113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7113 {
  position:absolute;
  left:109px;
  top:1222px;
  width:894px;
  height:421px;
  font-size:14px;
  text-align:left;
}
#u7114 {
  position:absolute;
  left:2px;
  top:40px;
  width:890px;
  word-wrap:break-word;
}
#u7115 {
  position:absolute;
  left:-153px;
  top:1934px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:184px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7116 {
  position:absolute;
  left:475px;
  top:1838px;
  width:311px;
  height:184px;
}
#u7117 {
  position:absolute;
  left:2px;
  top:84px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7118 {
  position:absolute;
  left:480px;
  top:1845px;
  width:300px;
  height:170px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7120 {
  position:absolute;
  left:615px;
  top:1860px;
  width:33px;
  height:20px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u7121 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u7122 {
  position:absolute;
  left:505px;
  top:1890px;
  width:250px;
  height:1px;
}
#u7123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:505px;
  top:1909px;
  width:225px;
  height:38px;
}
#u7125 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u7126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7126 {
  position:absolute;
  left:575px;
  top:1966px;
  width:110px;
  height:35px;
  font-size:14px;
}
#u7127 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u7128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7128 {
  position:absolute;
  left:757px;
  top:1842px;
  width:25px;
  height:25px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u7131 {
  position:absolute;
  left:752px;
  top:727px;
  width:67px;
  height:28px;
  color:#0066FF;
}
#u7132 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u7133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7134 {
  position:absolute;
  left:469px;
  top:716px;
  width:205px;
  height:39px;
}
#u7135 {
  position:absolute;
  left:2px;
  top:12px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7136 {
  position:absolute;
  left:477px;
  top:724px;
  width:26px;
  height:26px;
}
#u7137 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7138 {
  position:absolute;
  left:511px;
  top:723px;
  width:153px;
  height:25px;
}
#u7138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u7139 {
  position:absolute;
  left:558px;
  top:757px;
  width:118px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u7140 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:39px;
}
#u7141 {
  position:absolute;
  left:686px;
  top:716px;
  width:66px;
  height:39px;
}
#u7142 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:159px;
}
#u7144 {
  position:absolute;
  left:0px;
  top:1px;
  width:1300px;
  height:159px;
}
#u7145 {
  position:absolute;
  left:2px;
  top:72px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u7146 {
  position:absolute;
  left:71px;
  top:46px;
  width:190px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u7147 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u7148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:right;
}
#u7149 {
  position:absolute;
  left:1189px;
  top:46px;
  width:47px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:right;
}
#u7149_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:right;
}
#u7149.mouseOver {
}
#u7149_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:right;
}
#u7149.mouseDown {
}
#u7150 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7152 {
  position:absolute;
  left:903px;
  top:47px;
  width:116px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7153 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u7154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7154 {
  position:absolute;
  left:911px;
  top:49px;
  width:30px;
  height:30px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7156 {
  position:absolute;
  left:1029px;
  top:46px;
  width:78px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7156_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7156.mouseOver {
}
#u7156_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7156.mouseDown {
}
#u7157 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u7158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u7159 {
  position:absolute;
  left:1136px;
  top:47px;
  width:39px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u7159_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u7159.mouseOver {
}
#u7159_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u7159.mouseDown {
}
#u7160 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7161 {
  position:absolute;
  left:1115px;
  top:47px;
  width:60px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7161_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7161.mouseOver {
}
#u7161_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7161.mouseDown {
}
#u7162 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Bold', '方正姚体 Regular', '方正姚体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u7163 {
  position:absolute;
  left:70px;
  top:107px;
  width:221px;
  height:61px;
  font-family:'方正姚体 Bold', '方正姚体 Regular', '方正姚体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u7164 {
  position:absolute;
  left:2px;
  top:18px;
  width:217px;
  word-wrap:break-word;
}
#u7165 {
  position:absolute;
  left:655px;
  top:2091px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
